.git
.github
node_modules
vendor
storage/logs/*.log
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*.php
.env
.env.example
*.md
tests/
docker-compose*.yml
.editorconfig
.gitattributes
.gitignore
phpunit.xml
tailwind.config.js
postcss.config.js
